{% extends 'common/master.html' %}





{% block body %}

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">

        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <h2>Add your skills here</h2>
              {% include 'layouts/messages.html' %}
          <form action="" method="POST">
              {% csrf_token %}
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input
                type="text"
                id="form1Example13"
                class="form-control form-control-lg" name='skill_name'
              />
              <label class="form-label" for="form1Example13"
                >Skill Name</label
              >
            </div>
            

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <select name="user_type" style="width: 100%;" class="form-control form-control-lg" id="roleSelect">
                  <option value="" disabled selected>Select Proficinecy</option>
                  <option value="beginner">Beginner</option>
                  <option value="intermediate">Intermediate</option>
                  <option value="expert">Expert</option>
              </select><br><br>
              <label class="form-label" for="roleSelect">Select Proficinecy</label>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>


    
{% endblock body %}
    