{% extends 'common/master.html' %}
{% load static %}

{% block body %}





<div class="container mt-5">
    <div class="resume-container">
        <h1 class="text-center">Your Resume</h1>
        <a href="{% url 'logoutPage' %}" class="btn btn-danger">Log out</a>
        <div class="header">
            
            <img src="your-image-url.jpg" alt="Profile Picture" class="profile-picture">
            <h1 id="fullName">First Last</h1>
            <h2 id="designation">Designation</h2>
            <a href="#" class="btn btn-secondary">Applied Jobs</a>
            <a href="#" class="btn btn-outline-secondary">Created Jobs</a>
            <a href="#" class="btn btn-warning">Add New Jobs</a>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p><strong>Email:</strong> <span id="email">example@example.com</span></p>
                <p><strong>Contact No:</strong> <span id="contactNo">+123456789</span></p>
                <p><strong>Age:</strong> <span id="age">25</span></p>
                <p><strong>DOB:</strong> <span id="dob">YYYY-MM-DD</span></p>
                <p><strong>Gender:</strong> <span id="gender">Male</span></p>
            </div>
            <div class="col-md-6">
                <div class="summary">
                    <h4>Career Summary</h4>
                    <p id="careerSummary">A brief overview of professional experience, skills, and achievements.</p>
                </div>
            </div>
            <div class="btn-group-horizental mt-3" role="group" aria-label="Add Sections">
                <a href="#" class="btn btn-primary">Add Education</a>
                <a href="#" class="btn btn-outline-primary">Add Experience</a>
                <a href="{% url 'add_skills' %}" class="btn btn-outline-success">Add Skills</a>
                <a href="#" class="btn btn-outline-secondary">Add Language</a>
                <a href="#" class="btn btn-warning">Add Interest</a>
            </div>
        </div>
    </div>
</div>




    
{% endblock body %}
    