<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Job Board</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/favicon.png' %}"
    />
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> -->
  </head>

  <body>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="img-fluid"
              alt="Phone image"
            />
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <h2>Register Here For Your Account</h2>
                {% include 'layouts/messages.html' %}
            <form action="" method="POST">
                {% csrf_token %}
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="text"
                  id="form1Example13"
                  class="form-control form-control-lg" name='uname'
                />
                <label class="form-label" for="form1Example13"
                  >Username</label
                >
              </div>
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="email"
                  id="form1Example13"
                  class="form-control form-control-lg" name="email"
                />
                <label class="form-label" for="form1Example13"
                  >Email address</label
                >
              </div>

              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <select name="user_type" style="width: 100%;" class="form-control form-control-lg" id="roleSelect">
                    <option value="" disabled selected>Select your option</option>
                    <option value="recruiter">Recruiter</option>
                    <option value="seeker">Seeker</option>
                </select><br><br>
                <label class="form-label" for="roleSelect">Select Role</label>
              </div>





              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="password"
                  id="form1Example23"
                  class="form-control form-control-lg" name='pass'
                />
                <label class="form-label" for="form1Example23">Password</label>
              </div>


              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="password"
                  id="form1Example23"
                  class="form-control form-control-lg" name='con_pass'
                />
                <label class="form-label" for="form1Example23"
                  >Confirm Password</label
                >
              </div>
              <div class="text-center mt-3">
                <p>Already have an account? <a href="{% url 'loginPage' %}">Please login</a></p>
            </div>

              <!-- Submit button -->
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-lg btn-block"
              >
                Register
              </button>

              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
              </div>
              <div class="container text-center social-icons">
                <a
                  href="https://www.facebook.com"
                  class="social-icon text-primary"
                  target="_blank"
                >
                  <img
                    src="{% static 'img/facebook-new.png' %}"
                    alt="Facebook"
                    class="social-icon"
                  />
                </a>
                <a
                  href="https://www.linkedin.com"
                  class="social-icon text-info"
                  target="_blank"
                >
                  <img
                    src="{% static 'img/linkedin.png' %}"
                    alt="LinkedIn"
                    class="social-icon"
                  />
                </a>
                <a
                  href="https://github.com"
                  class="social-icon"
                  target="_blank"
                >
                  <img
                    src="{% static 'img/github.png' %}"
                    alt="GitHub"
                    class="social-icon"
                  />
                </a>
                <a
                  href="https://www.instagram.com"
                  class="social-icon text-danger"
                  target="_blank"
                >
                  <img
                    src="{% static 'img/instagram-new.png' %}"
                    alt="Instagram"
                    class="social-icon"
                  />
                </a>
                <a
                  href="https://twitter.com"
                  class="social-icon text-info"
                  target="_blank"
                >
                  <img
                    src="{% static 'img/twitter.png' %}"
                    alt="Twitter"
                    class="social-icon"
                  />
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
